<%= form_with(model: note) do |form| %>
  <% if note.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="input-table">
    <tr>
      <th>
        <label for="note_master_id">Master:</label>
      </th>
      <td>
        <%= form.collection_select :master_id, Master.all, :id, lambda { |m| render("masters/name", master: m) } %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="note_grade_id">Grade:</label>
      </th>
      <td>
        <%= form.collection_select :grade_id, Grade.all, :id, :name, include_blank: true %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="note_notes">Notes:</label>
      </th>
      <td>
        <%= form.text_field :notes %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="note_serial">Serial:</label>
      </th>
      <td>
        <%= form.text_field :serial %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="note_note_feature_ids">Features:</label>
      </th>
      <td>
        <%= form.collection_check_boxes(:note_feature_ids, NoteFeature.all, :id, :name) do |b|  %>
          <%= b.label(class: "block") do %> 
            <%= b.object.name %>
            <%= b.check_box %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="note_removed_on">Removed On:</label>
      </th>
      <td>
        <%= form.text_field :removed_on, placeholder: "YYYY-MM-DD" %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="note_removal_note">Removal Note:</label>
      </th>
      <td>
        <%= form.text_field :removal_note %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="note_replaced_by">Replaced By:</label>
      </th>
      <td>
        <%= form.collection_select :replaced_by_id, Note.where(master_id: @note.master_id), :id, :serial, include_blank: true %>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <%= form.submit "Submit", class: "button" %>
      </td>
  </table>
<% end %>
