<h1 class="text-2xl font-bold my-5">Notes <span class="font-normal">(<%= Note.count %>)</span></h1>

<div class="my-2">
<%= link_to 'Add Note', new_note_path, class: "button" %>
</div>

<table class="index-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Region</th>
      <th>Master</th>
      <th>Pick</th>
      <th>Serial</th>
      <th>Grade</th>
      <th>Notes</th>
      <th>Features</th>
      <th>Added</th>
      <th>Removed</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% 
        Region.all.order(:short_name).each do |region|
          region.currencies.order(:issued_on).each do |currency|
            currency.notes.order(:denomination).each do |note|
    %>
    <tr <% if (note.removed_on || note.replaced_by_id) %>class="removed"<% end %>>
      <td><%= link_to note.id, note %></td>
      <td><%= link_to region.short_name, region %></td>
      <td><%= link_to render("masters/name", master: note.master), note.master %></td>
      <td><%= note.master.pick %></td>
      <td><%= note.serial %></td>
      <td><% if note.grade %><%= note.grade.name %><% end %></td>
      <td><%= note.notes %></td>
      <td>
        <ul>
          <% note.note_features.each do |f| %>
            <li><%= f.name %></li>
          <% end %>
        </ul>
      </td>
      <td class="text-sm"><%= note.created_at.to_date.to_formatted_s(:iso8601) %></td>
      <td>
        <% if note.replaced_by_id %>
          <%= link_to "ðŸ”€ '#{note.replaced_by.serial}'", note_path(note.replaced_by) %><br/>
        <% end %>
        <%= note.removal_notes %>
      </td>
      <td><%= link_to "âœï¸", edit_note_path(note) %></td>
    </tr>
  <% end %>
  <% end %>
  <% end %>
  </tbody>
</table>
