<h1 class="text-2xl font-bold my-5">Notes <span class="font-normal">(<%= Note.count %>)</span></h1>

<div class="my-2">
<%= link_to 'Add Note', new_note_path, class: "button" %>
</div>

<table class="index-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Master</th>
      <th>Pick</th>
      <th>Serial</th>
      <th>Grade</th>
      <th>Notes</th>
      <th>Features</th>
      <th>Created</th>
      <th>Updated</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @notes.each do |note| %>
    <tr>
      <td><%= link_to note.id, note %></td>
      <td><%= link_to render("masters/name", master: note.master), note.master %></td>
      <td><%= note.master.pick %></td>
      <td><%= note.serial %></td>
      <td><% if note.grade %><%= note.grade.name %><% end %></td>
      <td><%= note.notes %></td>
      <td>
        <ul>
          <% note.note_features.each do |f| %>
            <li><%= f.name %></li>
          <% end %>
        </ul>
      </td>
      <td class="system text-sm"><%= note.created_at.to_date.to_formatted_s(:iso8601) %></td>
      <td class="system text-sm"><%= note.updated_at.to_date.to_formatted_s(:iso8601) %></td>
      <td><%= link_to "✏️", edit_note_path(note) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
