<%= form_with(model: master) do |form| %>
  <% if master.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(master.errors.count, "error") %> prohibited this master from being saved:</h2>

      <ul>
        <% master.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="input-table">
    <tr>
      <th>
        <label for="master_currency_id">Currency:</label>
      </th>
      <td>
        <%= form.collection_select :currency_id, Currency.all, :id, :name %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="master_denomination">Denomination:</label>
      </th>
      <td>
        <%= form.text_field :denomination %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="master_pick">Pick Code:</label>
      </th>
      <td>
        <%= form.text_field :pick%>
      </td>
    </tr>
    <tr>
      <th>
        <label for="master_overprint_currency_id">Overprint Currency:</label>
      </th>
      <td>
        <%= form.collection_select :overprint_currency_id, Currency.all, :id, :name, include_blank: true %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="master_overprint_denomination">Overprint Denomination:</label>
      </th>
      <td>
        <%= form.text_field :overprint_denomination%>
      </td>
    </tr>
    <tr>
      <th>
        <label for="master_obverse">Obverse:</label>
      </th>
      <td>
        <%= form.text_field :obverse %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="master_reverse">Reverse:</label>
      </th>
      <td>
        <%= form.text_field :reverse %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="master_master_feature_ids">Features:</label>
      </th>
      <td>
        <%= form.collection_check_boxes(:master_feature_ids, MasterFeature.all, :id, :name) do |b|  %>
          <%= b.label(class: "block") do %> 
            <%= b.object.name %>
            <%= b.check_box %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="master_printed_on">Printed:</label>
      </th>
      <td>
        <%= form.text_field :printed_on, placeholder: "YYYY-MM-DD" %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="master_printer_id">Printer:</label>
      </th>
      <td>
        <%= form.collection_select :printer_id, Printer.all, :id, :name, include_blank: true %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="master_material_id">Material:</label>
      </th>
      <td>
        <%= form.collection_select :material_id, Material.all, :id, :name, include_blank: true %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="master_width">Width:</label>
      </th>
      <td>
        <%= form.text_field :width %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="master_height">Height:</label>
      </th>
      <td>
        <%= form.text_field :height %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="master_oversized">Oversized:</label>
      </th>
      <td>
        <%= form.check_box :oversized %>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <%= form.submit "Submit", class: "button" %>
      </td>
  </table>
<% end %>
