<ul id="<%= dom_id currency %>">
  <li>Name: <span class="font-bold"><%= currency.name %></span></li>
  <li>Region: <span class="font-bold"><%= currency.authority.region.short_name %></span></li>
  <li>Authority: <span class="font-bold"><%= currency.authority.name %></span></li>
  <li>ISO 4217: <span class="font-bold"><%= currency.iso_4217 %></span></li>
  <li>Symbol: <span class="font-bold"><%= currency.symbol %></span></li>
</ul>
