<%= form_with(model: currency, class: "contents") do |form| %>
  <% if currency.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(currency.errors.count, "error") %> prohibited this currency from being saved:</h2>

      <ul>
        <% currency.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="input-table">
    <tr>
      <th>
        <label for="currency_authority">Authority:</label>
      </th>
      <td>
        <%= form.collection_select :authority_id, Authority.all, :id, :long_name %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="currency_name">Name:</label>
      </th>
      <td>
        <%= form.text_field :name %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="currency_iso_4217">ISO 4217:</label>
      </th>
      <td>
        <%= form.text_field :iso_4217 %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="currency_symbol">Symbol:</label>
      </th>
      <td>
        <%= form.text_field :symbol %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="currency_issued_on">Issued:</label>
      </th>
      <td>
        <%= form.text_field :issued_on, placeholder: "YYYY-MM-DD" %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="currency_withdrawn_on">Withdrawn:</label>
      </th>
      <td>
        <%= form.text_field :withdrawn_on, placeholder: "YYYY-MM-DD" %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="currency_lapsed_on">Lapsed:</label>
      </th>
      <td>
        <%= form.text_field :lapsed_on, placeholder: "YYYY-MM-DD" %>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <%= form.submit "Submit", class: "button" %>
      </td>
  </table>

<% end %>
