<p style="color: green"><%= notice %></p>

<h1 class="text-2xl font-bold my-5">Currencies <span class="font-normal">(<%= Currency.count %>)</span></h1>

<div class="my-2">
<%= link_to 'Add Currency', new_currency_path, class: "button" %>
</div>

<table class="index-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Region</th>
      <th>ISO 4217</th>
      <th>Symbol</th>
      <th>Authority</th>
      <th>Masters</th>
      <th>Notes</th>
      <th>Created</th>
      <th>Updated</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @currencies.each do |currency| %>
    <tr>
      <td><%= link_to currency.name, currency %></td>
      <td><%= link_to currency.authority.region.short_name, currency.authority.region %></td>
      <td><%= currency.iso_4217 %></td>
      <td><%= currency.symbol %></td>
      <td><%= link_to currency.authority.name, currency.authority %></td>
      <td class="system"><%= currency.masters.count %></td>
      <td class="system"><%= currency.notes.count %></td>
      <td class="system text-sm"><%= currency.created_at.to_date.to_formatted_s(:long) %></td>
      <td class="system text-sm"><%= currency.updated_at.to_date.to_formatted_s(:long) %></td>
      <td><%= link_to "✏️", edit_currency_path(currency) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
