<%= form_with(model: region) do |form| %>
  <% if region.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
        <% region.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="input-table">
    <tr>
      <th>
        <label for="region_short_name">Short Name:</label>
      </th>
      <td>
        <%= form.text_field :short_name %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="region_iso_3166">ISO 3166:</label>
      </th>
      <td>
        <%= form.text_field :iso_3166 %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="region_official_name">Official Name:</label>
      </th>
      <td>
        <%= form.text_field :official_name %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="region_native_name">Native Name:</label>
      </th>
      <td>
        <%= form.text_field :native_name %>
      </td>
    </tr>
    <tr>
      <th>
        <label for="region_wikipedia_url">Wikipedia URL:</label>
      </th>
      <td>
        <%= form.url_field :wikipedia_url %>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <%= form.submit "Submit", class: "button" %>
      </td>
  </table>
<% end %>
