<p style="color: green"><%= notice %></p>

<h1 class="text-2xl font-bold my-5">Regions <span class="font-normal">(<%= Region.count %>)</span></h1>

<div class="my-2">
<%= link_to 'Add Region', new_region_path, class: "button" %>
</div>

<table class="index-table">
  <thead>
    <tr>
      <th>Short Name</th>
      <th>ISO 3166</th>
      <th>Official Name</th>
      <th>Native Name</th>
      <th>Authorities</th>
      <th>Currencies</th>
      <th>Created</th>
      <th>Updated</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @regions.each do |region| %>
    <tr>
      <td><%= link_to region.short_name, region %></td>
      <td><%= region.iso_3166 %></td>
      <td><%= region.official_name %></td>
      <td><%= region.native_name %></td>
      <td class="system"><%= region.authorities.count %></td>
      <td class="system"><%= region.currencies.count %></td>
      <td class="system text-sm"><%= region.created_at.to_date.to_formatted_s(:iso8601) %></td>
      <td class="system text-sm"><%= region.updated_at.to_date.to_formatted_s(:iso8601) %></td>
      <td><%= link_to "✏️", edit_region_path(region) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
